*{
    background-color: white;
    font-family: sans-serif;
}

.Container{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    background-color: #ffffff;
}

.secondContainer{
    width: 25%;
    height: 400px;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 2rem;
    box-shadow: 0 4px 10px -5px black;
}

.image{
    width: 100%;
}

