<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    {% load static %}
    <link rel="stylesheet" type="text/css", href="{% static 'css/style.css' %}">
</head>
<body>
    <div class="Container">
        {% for image in images %}
            <div class="secondContainer">
            <img src="{{ image.image.url }}" class="image">
            <h2 class="image_caption"> {{ image.caption }}</h2>
            </div>
        {% endfor %}
    </div>

</body>
</html>